<div class="center hero-unit">
	<h1>Welcome to Cardinform</h1>
	
	<h2>
		Press the below button to test go to the Product page
	</h2>
	
	<%= link_to "Admin", "#", class: "btn btn-large btn-primary" %>
			
			
</div>